@charset "utf-8";
footer {
  background-color: var(--clr-drk);
  font-size: var(--font-size-reg);
  color: var(--clr-light-blue);
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 1px solid var(--clr-light);
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-column a{
  transition: var(--app-transition);
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid var(--clr-light);
  font-size: var(--font-size-small);
  color: var(--clr-light);
}

.social-icons {
  display:flex;
}

.social-icons a {
  margin-left: 15px;
  font-size: var(--font-size-reg);
  color: var(--clr-light);
  transition: var(--app-transition);
}
.footer-column a:hover,
.social-icons a:hover {
  color: var(--clr-primary);
}
