@charset "utf-8";

/*----------------------------------------------------------->
	Hero Banner
<------------------------------------------------------------*/

header {
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
  padding-top: 6.5rem;
}

header h1 {
  font-size: var(--font-size-title);
  text-align: center;
  color: var(--clr-light);
  text-shadow:
  -1px -1px 0 var(--clr-drk),
    1px -1px 0 var(--clr-drk),
  -1px  1px 0 var(--clr-drk),
    1px  1px 0 var(--clr-drk);
}

.cursor {
  visibility: hidden;
}

.cursor.visible {
  visibility: visible;
}
/*----------------------------------------------------------->
	Hero Banner - Parallax
<------------------------------------------------------------*/
.title-wrapper {
  margin: auto;
  z-index: 1000;
  background: var(--clr-blur-bg);
  backdrop-filter: blur(10px);
  padding: var(--app-spacing);
  border-radius: var(--app-border-rad);
  a {
    width: 150px;
    margin: 5px;
    text-align: center;
  }
}
.home {
  height: 100svh;
}