@charset "utf-8";

/*----------------------------------------------------------->
	Hero Banner
<------------------------------------------------------------*/

header {
  height: 70svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
  background-color: var(--clr-light);
}

header h1 {
  font-size: var(--font-size-title);
  text-align: center;
  color: var(--clr-drk);
}
header h2 {
  font-size: var(--font-size-subtitle);
  color: var(--clr-drk);
}

.cursor {
  visibility: hidden;
}

.cursor.visible {
  visibility: visible;
}
/*----------------------------------------------------------->
	Hero Banner - Parallax
<------------------------------------------------------------*/

.hero-topper {
  width: 100%;
  height: 25px;
  line-height: 25px;
  background-color: var(--clr-drk);
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
}
.hero-topper p {
  cursor: pointer;
  transition: var(--app-transition);
}
.hero-topper p:hover {
  font-weight: 600;
  text-decoration: underline;
}
.hero-search-bar {
  margin: var(--app-spacing) 0;
  input {
    border-radius: var(--app-border-rad);
    height: 50px;
    padding-left: 5px;
  }
}
.title-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-logo {
  width: 200px;
}
.marquee-container {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  background: var(--clr-drk);
  position: relative;
}

.marquee {
  display: flex;
  white-space: nowrap;
  align-items: center;
  transition: all 0.1s ease-in-out;
  animation: scroll-left 80s linear infinite; 
  font-weight: bold;
}
.marquee:hover {
  animation-play-state: paused;
}

.marquee-content {
  display: inline-block;
  padding-right: 2rem; 
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
